body {
    font-family: 'Reenie Beanie';
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Flyttar upp innehållet mot toppen */
    align-items: center;
    height: 100vh;
    margin: 0;
    padding-top: 20px; /* Ger ett litet avstånd från toppen */
    overflow: hidden;
    background-color: #e6f4f1;
    
  }
  
  h1 {
    font-size: 4rem; /* Större header-text */
    margin-bottom: 10px; /* Mindre avstånd ner till bingo */
    color: #c85315;
    text-align: center;
  }
  
  .bingo-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px; /* Större mellanrum mellan rutorna */
    justify-content: center;
    width: 95%; /* Större total yta */
    max-width: 750px; /* Ökad maxstorlek */
  }
  
  .bingo-square {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px; /* Större rutor */
  border: 3px solid #82B9B9; /* Tjockare kant */
    cursor: pointer;
    box-sizing: border-box;
    background-color: transparent;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  
  
  .bingo-square img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
  }
  
  .bingo-square.checked img {
    visibility: visible;
  }
  
  .bingo-square span {
    z-index: 1;
    font-size: 1.8rem; /* STÖRRE text i rutorna */
  }
  
  /* Mobilanpassning */
  @media (max-width: 600px) {
    .bingo-board {
      gap: 10px;
    }
  
    .bingo-square {
      padding: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .bingo-square span {
      font-size: 1.3rem; 
    }
    h1 {
        font-size: 3rem; /* Större header-text */
    
      }
      
  }
  
  @media (max-width: 400px) {
    .bingo-board {
      gap: 8px;
    }
  
    .bingo-square {
      padding: 1px;
   
    }
  
    .bingo-square span {
      font-size: 1.2rem;
      
    }
  }